
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding: 1rem;
  background-color: #eee;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
